.about__benefits-section .benefits__list__item:nth-child(1):after{
    width: 741px;
    height: 151px;
    bottom: 30px;
    background-image: url("../../images/arrowabout.svg");
    background-repeat: no-repeat;
    background-size: cover;
    // transform: translateX(40px);
    // transform: translateY(-40px);
}

.about__benefits-section .benefits__list__item:nth-child(2):after{
    top: 0;
}